.profile {
  padding-top: 70px;
  padding-bottom: 40px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 410px;
}

.profile__title {
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.profile__fields {
  margin: 0;
  padding: 0;
  border: none;
}

.profile__fields--settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__field-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #424242;
}

.profile__field-wrapper:last-child {
  border-bottom: none;
}

.profile__input {
  width: 100%;
  margin: 0;
  padding: 16px 0;
  background: none;
  border: none;
  text-align: right;
  color: #FFFFFF;
  outline: none;
}

.profile__label {
  flex-shrink: 0;
}

.profile__input:focus + .profile__label {
  color: #3DDC84;
}

.profile__form-submit {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font-size: 12px;
  line-height: 15px;
}

.profile__logout {
  padding: 0;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #EE3465;
}

.profile__form-submit,
.profile__logout {
  cursor: pointer;
}
.profile__form-submit:disabled {
  cursor: not-allowed;
  color: #424242;
}

.profile__btn {
  background-color: #4285F4;
  color: #fff;
  padding: 13px 20px 15px 20px;
  border: none;
}

.profile__error {
  text-align: center;
  font-size: 11px;
  line-height: 13px;
  color: #EE3465;
}

@media (min-width: 738px) {
  .profile__form {
    justify-content: center;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__fields {
    margin-bottom: 210px;
  }

  .profile__field-wrapper {
    font-size: 11px;
    line-height: 13px;
  }

  .profile__form-submit {
    font-size: 13px;
  }

  .profile__logout {
    font-size: 13px;
  }
}
