.info-tooltip {
  color: #fff;
}

.info-tooltip__container {
  text-align: center;
  padding: 60px 36px;
}

.info-tooltip__img {
  max-width: 45px;
  margin-bottom: 10px;
}

.info-tooltip__text {
  margin: 0;
  font-size: 21px;
  line-height: 1.4;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 425px) {
  .info-tooltip__text {
    font-size: 20px;
  }
}
