.techs {
    margin-bottom: 70px;
}
.techs__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.04em
}
.techs__description {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    max-width: 460px;
}
.techs__card {
    width: 178px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}
.techs__card-item {
    width: 84px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    border-radius: 10px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
}
