.movies-card {
    position: relative;
    width: 100%;
    max-width: 360px;
    min-height: 199px;
    /*border-radius: 6px;*/
}
.movies-card__image {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 16px;
}
.movies-card__description {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.movies-card__name {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.movies-card__duration {
    flex-shrink: 0;
    height: fit-content;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #2f2f2f;
    text-align: center;
    color: #8B8B8B;
}
.movies-card__save {
    position: absolute;
    right: 10px;
    top: 10px;

    box-sizing: border-box;
    padding: 6px 10px;
    border: none;
    border-radius: 30px;
    font-size: 10px;
    line-height: 9px;
    color: inherit;
    background: none;
    background-color: #313131;
}
.movies-card__save:hover,
.movies-card__delete:hover {
    cursor: pointer;
}
.movies-card__save-text {
    display: inline-block;
}
.movies-card__save--saved .movies-card__save-text {
    display: none;
}
.movies-card__save--saved {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #EE3465;
    /*background-image: url("./src/images/");*/
}
.movies-card__save--saved::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;
    width: 7px;
    height: 4px;
    border-radius: 1px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.movies-card__delete {
    position: absolute;
    right: 10px;
    top: 10px;

    width: 21px;
    height: 21px;
    border: none;
    border-radius: 50%;
    background-color: #313131;
}
.movies-card__delete::after,
.movies-card__delete::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%) rotate(45deg);
    width: 8px;
    height: 2px;
    background-color: #fff;
}
.movies-card__delete::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 768px) {
    .movies-card {
        width: 339px;
        padding-bottom: 17px;
    }
    .movies__list {
        padding-bottom: 0;
    }
    .movies-card__name {
        font-size: 13px;
        line-height: 16px;
    }
    .movies-card__duration {
        font-size: 11px;
    }
}