.footer {
    padding-top: 79px;
    padding-bottom: 10px;
}
.footer__text {
    margin: 0;
    margin-bottom: 30px;
    padding-bottom: 21px;
    border-bottom: 1px solid #424242;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #8B8B8B;
}
.footer__list-item {
    margin-bottom: 12px;
}
.footer__list-item:last-child {
    margin-bottom: 0;
}
.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
    text-align: center;
}
.footer__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}
.footer__copyright {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: #8B8B8B;
}
