.search-form {
  padding-top: 80px;
  padding-bottom: 60px;
  border-bottom: 1px solid #424242;
}

.search-form__field-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.search-form__search-input {
  box-sizing: border-box;
  width: 100%;
  min-height: 46px;
  border: none;
  background-color: #2F2F2F;
  padding: 14px 0;
  padding-left: 19px;
  padding-right: 90px;
  border-radius: 40px;
  font-size: 11px;
  line-height: 17px;
  color: #8B8B8B;
}

.search-form__checkbox-wrapper {
  display: flex;
  justify-content: center;
  /*gap: 28px;*/
  flex-wrap: wrap;
}

.search-form__submit-label {
  position: absolute;
  right: 6px;
  top: 50%;
  width: 80px;
  height: 34px;
  border: 0;
  border-radius: 48px;
  transform: translateY(-50%);
}

.search-form__submit-label:hover,
.search-form__submit:hover {
  cursor: pointer;
}

.search-form__submit-label::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
}

.search-form__submit {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 48px;
  background-color: #4285F4;
}

.search-form__submit:hover {
  background-color: #3DDC84;
}

.search-form__submit:hover + .search-form__submit-icon path {
  fill: #424242 !important;
}

.search-form__submit-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.search-form__submit::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 10px;
  background-image: url("../../../images/search-icon.svg");
}

@media (min-width: 768px) {
  .search-form__search-input {
    font-size: 13px;
  }

  .search-form {
    padding-bottom: 51px;
  }
}

@media (min-width: 1280px) {
  .search-form {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
